################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Translate/.vs/Translate/v15/Server/sqlite3
